name: Release

on:
    workflow_dispatch:
      inputs:
        environment:
          type: choice
          description: Select environment
          required: true
          options:
            - CENTRAL
            - DEV CENTRAL
            - STAGE CENTRAL

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v3

            - name: Set Up Ballerina
              uses: ballerina-platform/setup-ballerina@v1.1.0
              with:
                version: latest
                
            - name: Set up JDK 17
              uses: actions/setup-java@v3
              with:
                  distribution: 'temurin'
                  java-version: 17.0.7

            - name: Set version env variable
              run: echo "VERSION=$((grep -w "version" | cut -d= -f2) < gradle.properties | rev | cut --complement -d- -f1 | rev)" >> $GITHUB_ENV

            - name: Pre release depenency version update
              env:
                GITHUB_TOKEN: ${{ secrets.BALLERINA_BOT_TOKEN }}
              run: |
                echo "Version: ${VERSION}"
                git config user.name ${{ secrets.BALLERINA_BOT_USERNAME }}
                git config user.email ${{ secrets.BALLERINA_BOT_EMAIL }}
                git checkout -b release-${VERSION}
                sed -i 's/ballerinaLangVersion=\(.*\)-SNAPSHOT/ballerinaLangVersion=\1/g' gradle.properties
                sed -i 's/ballerinaLangVersion=\(.*\)-[0-9]\{8\}-[0-9]\{6\}-.*$/ballerinaLangVersion=\1/g' gradle.properties
                sed -i 's/stdlib\(.*\)=\(.*\)-SNAPSHOT/stdlib\1=\2/g' gradle.properties
                sed -i 's/stdlib\(.*\)=\(.*\)-[0-9]\{8\}-[0-9]\{6\}-.*$/stdlib\1=\2/g' gradle.properties
                git add gradle.properties
                git commit -m "Move dependencies to stable version" || echo "No changes to commit"

            - name: Grant execute permission for gradlew
              run: chmod +x gradlew

            - name: Publish artifact
              env:
                GITHUB_TOKEN: ${{ secrets.BALLERINA_BOT_TOKEN }}
                BALLERINA_STAGE_CENTRAL: false
                BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BALLERINA_CENTRAL_ACCESS_TOKEN }}
                packageUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
                packagePAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
              run: |
                ./gradlew release
                  
            - name: GitHub Release and Release Sync PR
              env:
                GITHUB_TOKEN: ${{ secrets.BALLERINA_BOT_TOKEN }}
              run: |
                gh release create v$VERSION --title "edi-tools-v$VERSION"
                gh pr create --base main --title "[Automated] Sync main after $VERSION release" --body "Sync main after $VERSION release"
